.beca, .curso {
    justify-content: space-between;
    padding: 0.75rem;
    height: 100% !important;

    .nombre {
        width: 100%;
        font-weight: 600;
        text-align: center;
        letter-spacing: 1px;
    }

    .descripcion {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}

#descripcion {
    height: 115px;
}